
.catalogue {
  background-color: #462a169a;
}

.catalogueTitle {
  font-size: 2rem;
  padding: 10px;
  background-color: #462a169a;
}
.catalogueItems {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 1em;
  row-gap: 0.8em;
}